body {
  min-height: 100vh;
  margin: 0 15px;
  font-family: "Montserrat", sans-serif;
  // background-color: blue;
  &:before {
    content: "";
    // position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    // background-image: url('../img/scene.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  height: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Loader css start

.loadersmall {
  // border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 44%;
  left: 44%;
  z-index: 1031;
}

.loaderWrapper {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1031;
  left: 0;
  top: 0;
  bottom: 0;
}

// Loader css end

.search {
  padding: 2px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-bottom: 10px !important;
  // background-color: initial;
  border: none;
  font-weight: 600;
  color: #27313d;
  transition: 0.4s;
  border-radius: 0;
  height: 30px;
  margin-top: 10px !important;
  text-decoration: none;
}

.btn-default {
  border-color: #ffffff;
}

.flexedCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  margin: auto;
}

.mobileNone {
  display: none;
}

// .desktopNone {
//   display: block;
// }

//Carousel CSS
.carousel-control {
  // margin-top: 350px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  // width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  // text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.left {
  right: 0;
  left: auto;
}

.demo {
  overflow: visible;
  height: 100px;
  z-index: 3;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  // color: #FFF;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: initial;
}

.carousel .c-item {
  padding: 10px;
  display: inline-block;
  width: calc(100% / 3);
  background: #ffff;
  height: 100%;
  cursor: pointer;
}

.card-item {
  margin-top: 5px;
  padding: 5px;
  display: inline-block;
  width: calc(100%);
  background: #ffff;
  height: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-top: 5px;
  background-color: #bbb;
  display: inline-block;
}

.active-dot {
  background-color: #555;
}

.tab {
  overflow: hidden;
  background-color: white;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px 25px 18px 25px;
  transition: 0.3s;
  font-size: 15px;
}

.active {
  border: 3px solid #555;
  background-color: rgb(253, 252, 252);
}

.tabcontent {
  // display: none;
  padding: 6px 12px;
  border: 0px;
}

.wrap {
  width: 40%;
}

.innerbox {
  background-color: #f5fbff;
  padding: 20px;
}

.bodyOfdiv {
  background-color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
}

.shadowBox {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  width: calc(100%);
}

.card {
  // background: linear-gradient(-45deg, #e5e5f1, #c3e6fa);
  // box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  // padding: 2px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* hide limit values on X axis */
.card #canvas {
  margin-left: -30px;
  margin-right: -30px;
  width: 360px !important;
}

.card .about {
  height: 185px;
  padding: 20px;
  box-sizing: border-box;
}

.card .about h3,
.card .about .lead {
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 400;
}

.card .about h3 {
  font-size: 24px;
  color: black;
}

.card .about .lead {
  color: #494b4b;
}

.card .info {
  float: left;
  padding: 10px 30px 10px 0;
}

.card .info p {
  font-size: 11px;
  color: black;
  font-weight: 300;
}

.legends {
  padding-top: 20px;
  overflow: hidden;
}

.legend {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.legend--this {
  background-color: #e4e4f5;
}

.legend--prev {
  background-color: #e4e2e3;
}

.axis {
  // position: absolute;
  color: #494b4b;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  bottom: 0;
}

.axis .tick {
  flex: 1;
  position: relative;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.axis .tick::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
}

.axis .tick .value {
  transform: translateY(-240px);
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: 20px;
  left: 0;
  color: black;
  border-radius: 2px;
  width: 100%;
  line-height: 20px;
}

.axis .tick:hover .value.value--this {
  transform: translateY(-160px);
  display: block;
  opacity: 0.4;
}

.value.value--this {
  color: black;
  font-weight: bold;
}

.day-number {
  display: block;
}

.day-name {
  display: block;
  opacity: 0.4;
}

.card {
  // background: linear-gradient(-45deg,white,rgb(247, 245, 245), white,rgb(251, 255, 255));
  background-size: 400% 400%;
  animation: bg 20s infinite;
}

.graph {
  display: flex;
  justify-content: center;
  width: 100%;
  // height: 70%
}

.central {
  width: 100%;
}

.heading {
  color: grey;
  font-size: 12px;
}

.text {
  font-size: 12px;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

//Material UI CSS Start
.MuiInputBase-input {
  color: black !important;
  font-size: medium !important;
  font-style: italic !important;
}

.MuiOutlinedInput-root {
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-bottom: #555;
  // border-color: white !important;
}

.MuiInputLabel-outlined.Mui-focused {
  border-bottom: #555;
  // border-color: white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
  border-bottom: #555;
  // border-color: white !important;}
}

.material-ui-textfield {
  border-bottom: #555;
  // border-color: white !important;
  // width: 100% !important;
}

// Materiual UI CSS End

// Desktop CSS Start

@media (min-width: 768px) {
  .desktopNone {
    display: none !important;
  }

  .mobileNone {
    display: block;
  }

  .sunmoon {
    display: none;
  }

  .card {
    width: calc(100% - 800px);
    height: 100%;
  }

  .searchFormio {
    width: calc(100% - 60%);
  }

  .shadowBox {
    box-shadow: none;
  }

  .search {
    width: calc(100% - 60%);
  }

  .formio-form .choices__item.choices__item--selectable {
    font-size: 14px;
    opacity: 1;
  }

  .graph {
    width: 100%;
  }

  .carousel .c-item {
    width: 7%;
    cursor: pointer;
  }

  .loadersmall {
    top: 40% !important;
    left: 50% !important;
  }

  .dot {
    display: none;
  }

  .right-arrow-icon {
    width: 2%;
  }

  .left-arrow-icon {
    width: 2%;
  }

  .bodyOfdiv {
    width: 100%;
  }

  .heading {
    font-size: 15px !important;
  }

  .text {
    font-size: 15px !important;
  }

  .central {
    width: calc(100% - 60%);
  }

  .material-ui-textfield {
    width: 40% !important;
  }
}
// Desktop CSS End

// Icons start

.pin-icon {
  content: url("../img/pin.png");
  width: 4%;
  height: 4%;
}

.search-icon {
  content: url("../img/search.png");
  width: 4%;
  height: 4%;
}

.right-arrow-icon {
  content: url("../img/right-arrow.png");
  width: 8%;
  height: 4%;
}

.left-arrow-icon {
  content: url("../img/left-arrow.png");
  width: 8%;
  height: 4%;
}

.sun-icon {
  content: url("../img/sun.png");
  height: 90px;
  width: 90px;
  -webkit-animation: zoominout 5s infinite;
  animation: zoominout 5s infinite;
}

.sun-icon-graph {
  content: url("../img/sun.png");
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  -webkit-animation: zoominout 2s infinite;
  animation: zoominout 2s infinite;
}

.cloud-icon {
  content: url("../img/cloudy.png");
  height: 90px;
  width: 90px;
  animation: shake 5s infinite;
  -webkit-animation: shake 5s infinite;
}

//Icons end

//Animations start

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

//Animations end

$arc-diameter: 170px;

.sunmoon {
  position: relative;
  margin-top: 60px;
}

.sun-times {
  margin-top: 0px;
  width: 230px;
  height: 60px;
  border-bottom: 1px solid #999;
  overflow-y: hidden;

  .sun-path {
    margin-left: 25px;
    width: $arc-diameter;
    height: $arc-diameter;
    overflow: hidden;
    // border: 1px dashed #999;
    border-radius: 50%;
  }

  .sun-symbol-path {
    position: absolute;
    color: yellow;
    text-shadow: 0 0 5px black;
    height: 35px;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(27deg);
    left: 165px;
    bottom: 0;

    .symbol {
      position: relative;
      font-size: 16px;
      top: -8px;
    }
  }

  .sun-animation {
    border: white;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to left, red, yellow);
    -webkit-transition: width 2s linear;
    transition: width 2s linear;
  }
}

.markers {
  position: absolute;
  bottom: 1em;

  & > div {
    position: absolute;
    font-size: 12px;
    width: 80px;
  }

  .sunrise {
    left: -30px;
  }

  .sunset {
    left: 190px;
    // right: 0;
  }
}

.controls {
  margin-top: 50px;
}
